<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item{{#is slug "home"}} active{{/is}}" href="{{site.base}}/">Home</a>
      <a class="blog-nav-item{{#is slug "blog"}} active{{/is}}" href="/{{site.blog}}/">Blog</a>
      <a class="blog-nav-item{{#is slug "about"}} active{{/is}}" href="{{site.base}}/about/">About</a>
    </nav>
  </div>
</div>
