<h1>Category</h1>

<ul>
{{#each items as |item|}}
  <li>
    <div><a href="{{relative item.data.permalink}}">{{default item.data.title item.key}}</a></div>
    <div>
{{#markdown}}
{{inline-view item}}
{{/markdown}}
    </div>
  </li>
{{/each}}
</ul>
